.server-error-details .inputs-container {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 60px;
	top: 0px;
}

.server-error-details .inputs-container input {
	float: left;
	border: none;
	background: #fff;
	color: #333;
	font-size: 18;
	text-align: center;
	width: calc( 100% - 100px );
	height: 100%;
}

.server-error-details .inputs-container button {
	float: left;
	border: none;
	background: #222;
	color: #eee;
	font-size: 18;
	width: 100px;
	height: 100%;
}

.server-error-details table {
	/*position: absolute;*/
	left: 0px;
	margin: 80px 50px 0px 50px;
	width: calc( 100% - 100px );
	font-family: Arial;
	font-size: 18px;
}

.server-error-details th {
	padding: 10px;
}