<html>
	<head>
		<title>Login Form</title>
		<link href="/front/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body ng-app="login" ng-controller="loginController">

	<div style="padding-top:100px" class="container">
		<div class="col-md-4 col-md-offset-4">
		    <h2>Ingresa</h2>

		    <div ng-if="models.errorMsg" class="alert alert-danger">{{models.errorMsg}}</div>

		    <form class="form-signin" ng-submit="methods.submit()">

		        <div class="form-group"> 
		            <label>Username</label>
		            <input type="text"  placeholder="Usuario" class="form-control" ng-model="models.username" ng-required="true"/>
		            <span ng-show="models.username.$dirty" class="help-block">Username is required</span>
		        </div>

		        <div class="form-group">
		            <label>Password</label>
		            <input type="password" placeholder="Contraseña" tooltip="Usuario Pppk" class="form-control" ng-model="models.password" ng-required="true"/>
		            <span  ng-show="models.password.$dirty" class="help-block">Password is required</span>
		        </div>
		        <div class="form-actions">
		            <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
		        </div>
		    </form>
		</div>
	</div>

		<script src="/front/libs/angular/angular.js"></script>
		<script src="/front/libs/angular/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script src="/front/libs/resources/src/resources.js"></script>
		<script src="/front/modules/login/script.js"></script>
	</body>

</html>