<html>
	
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="/front/modules/login/style.css">
	</head>

	<body ng-app="app" ng-controller="appController">

		<form ng-submit="methods.submit();">

			<div class="title-container">
				<h3>Login</h3>
			</div>

			<div class="input-container">
				<p>Email or username</p>
				<input type="text" placeholder="Email or username" ng-model="models.usernameOrEmail" required>
			</div>

			<div class="input-container">
				<p>Password</p>
				<input type="password" placeholder="Password" ng-model="models.password" required>
			</div>

			<div class="input-container">
				<input type="submit" value="Login">
			</div>		

		</form>

		<script src="/front/libs/angular/angular.min.js"></script>
		<script src="/front/modules/login/script.js"></script>
	</body>

</html>