<div class="gzc-parents-path" ng-if="models.currentRole">
	<span>Ruta de Rol Actual</span>
	<button class="color1" ng-click="methods.setRole()">&otimes;</button>
	<button ng-repeat="gz in models.currentRolePath | deleteLasteElem" ng-click="methods.setPathRole($index, gz)" class="color1">{{ gz.name }}</button>
</div>

<div class="gzc-current-container" ng-if="models.currentRole">
	<span>Rol Actual:</span>
	<button class="name">{{ models.currentRole.name }}</button>
	<button class="action" ng-click="methods.updateName()">Modificar Nombre</button>
	<!-- <button class="action">Deshabilitar Zona Geográfica </button> -->
	<button class="action" ng-click="methods.createRole()">Crear Nuevo Rol</button>
</div>

<div class="gzc-subzones-container">
	<span>{{ models.currentRole ? 'Sub-' : '' }}Roles</span>
	<ul>
		<li ng-if="s.level" ng-click="methods.setRole(s);" ng-repeat="s in models.subRoles | sortGeozonesList">{{ s.name }}</li>
	</ul>
</div>

<button ng-if="!models.currentRole" ng-click="methods.createRole()" class="gzc-create-geozone">Crear Rol</button>
